@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Serif:ital@1&family=Poppins&family=Roboto&family=Roboto+Mono:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
}
:root{
    --first-color-palette:#5383db;
    --second-color-palette:#0f1c30;
    --third-color-palette:#304a6e;
    --fourth-color-palette:#b6ccfa;
    --fifth-color-palette:#f0f0f0;
}
/* #d5d4d4 */
body{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    background-color: var(--fourth-color-palette);
}
/* estilos del navbar */
.navbar{
    background-color: var(--first-color-palette);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
    font-weight: 700;
    border-radius: 12px;
}
.logo{
    margin-right: 50px;
}
.list{
    list-style-type: none;
    display: flex;
    gap: 25px;
    margin-right: 40px;
}
#toggler,.navbar label{
    display: none;
}
.portfolio__section-home{
    height: 100vh;
    background-image: url('/home-page-img.jpg');
    background-size: cover;
    background-position: center;
}
.container__home{
    padding-left: 8%;
    padding-top: 6%;
}
.container__home h3{
    font-size: 2.5rem;
    color: var(--fourth-color-palette);
}
.container__home-redes{
    display: flex;
    align-items: center;
    gap: 8px;
}
.github{
    background-color: #fff;
    border-radius: 6px;
}
.portfolio__section-about{
    padding: 0.5cm;
}
.container__about-data{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.container__about-data div{
    background-color: var(--first-color-palette);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    border: 5px ridge var(--second-color-palette);
}
.container__about-data div h1{
    padding-left: 20%;
}
.container__about-profile{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 5%;
    overflow: hidden;
    background-color: var(--fourth-color-palette);
}
.image-profile{
    position: absolute;
    inset: 6px;
    z-index: 2;
    object-fit:cover;
    width: 96%;
    height: 96%;
    border-radius: 4%;
}
.container__about-profile::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 300px;
    background: linear-gradient(0deg,transparent,transparent,var(--second-color-palette),var(--second-color-palette),var(--second-color-palette));
    z-index: 1;
    animation: anime 4s  linear  infinite;
    transform-origin: bottom right;
}
.container__about-profile::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 300px;
    background: linear-gradient(0deg,transparent,transparent,var(--second-color-palette),var(--second-color-palette),var(--second-color-palette));
    z-index: 1;
    animation: anime 4s  linear  infinite;
    animation-delay: -2s;
    transform-origin: bottom right;
}
.container__about-text{
    padding: 30px;
}
.container__about-text p{
    font-family:'roboto',sans-serif;
    color: var(--second-color-palette);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-indent: 1rem;
}
.container__about-text h4{
    text-indent: 4rem;
}
.container__about-cv{
    display: flex;
    justify-content: center;
}
.container__about-cv button{
    font-weight: 700;
    padding: 8px;
    background-color: #f00707;
    border-radius: 10px;
}
.about__cv-link{
    text-decoration: none;
    font-size: 1rem;
    color: var(--fourth-color-palette);
}
.section__about-studies{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    gap: 20px;
}
.container__about-courses div{
    margin-top: 25px;
}
.container__about-study {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.title-about-study{
    text-align: center;
}
.title-about-study span{
    padding: 15px 0;
    text-transform: uppercase;
    color: var(--second-color-palette);
    text-decoration: overline;
}
.container__about-study div , .container__about-courses div{
    background-color: var(--first-color-palette);
    padding: 10px;
    box-shadow: 4px 4px 12px 2px var(--third-color-palette);
    border-radius: 8px;
}
.container__about-study ul , .container__about-courses ul{
    margin-left: 20px;
}

/* estilos de la Card de certificados*/
.container__list-card{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    flex-wrap: wrap;
    gap: 40px;
}
.container__card-certificate{
    height: 205px;
    width: 200px;
}
.container__card-img{
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 25%;
}
.container__card-title{
    position: relative;
    margin: 0 -15px;
    margin-top: -50%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* estilo del la seccion servicios */
.container__services{
    padding: 0.5cm;
}
.container__services h2,.portfolio__section-project h1,.titleContact{
    text-align: center;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    color: var(--third-color-palette);
}
.container__services-primary , .container__services-secondary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    gap: 40px;
    padding: 30px 0;
}

.box-father figcaption{
    border: 2px solid var(--second-color-palette);
    margin: -2px 0 0 0;
    text-align: center;
}
.box-img{
    background-color: #fdf3f3;
    border: 2px solid var(--second-color-palette);
    width: 115px;
    height: 110px;
    object-fit: fill;
}
/* estilos de la seccion proyectos */
.portfolio__section-project{
    padding: 0.5cm;
}
.container__proyects-list{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    gap: 25px;
    padding: 20px 0;
}
.card__project{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card__project h4{
    text-align: center;
}
.container__card-project{
    height: 360px;
    width: 300px;
    background-color: var(--first-color-palette);
    border: 3px solid var(--second-color-palette);
}
.container__card-project img{
    height: 80%;
    width: 100%;
    object-fit: fill;
}
.container__card-project img:hover{
    object-fit: cover;
}
.container__card-tools{
    text-align: center;
    padding: 2px 0;
}
.container__card-button{
    display: flex;
    justify-content: space-around;
}
.container__card-button a{
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}
.container__card-button button{
    padding: 2px 8px;
    border-radius: 5px;
}
.btn-proyect-github{
    background-color: #000000;
}
.btn-proyect-deploy{
    background-color: rgb(15, 98, 250);
}
/* estilos de la seccion footer */
.footer{
    background-color: var(--first-color-palette);
    width: 100%;
    height: 180px;
    text-align: center;
    padding: 20px 0;
}
.footer h2{
    color: var(--second-color-palette);
}
.footer__redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.footer__text{
    padding-top: 30px;
}

@media (max-width:767px) {
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
    }
    .navbar label{
        display: flex;
        margin-right: 20px;
        cursor: pointer;
    }
    #toggler:checked ~ .menu{
        max-height: 100%;
    }
    .portfolio__section-home{
        background-size: auto;
    }
    .container__home{
        padding-left: 8%;
        padding-top: 2%;
    }
    .container__about-data{
        flex-direction: column;
        row-gap: 15px;
    }
    .container__about-text{
        padding: 25px 0;
    }
    .section__about-studies{
        flex-direction: column;
        gap: 20px;
    }
    /* estilos de la card  de ceetificados*/
    .container__card-certificate{
        height: 125px;
        width: 120px;
    }
    .container__card-title{
        margin-top: -60%;
        padding: 3px 0;
    }
    /* estilo de las cards skill */
    .box-img{
        width: 90px;
        height: 85px;
    }
}
@media (min-width:768px) {
    .list a:hover{
        background-color: var(--second-color-palette);
    }
    .container__about-study div:hover, .container__about-courses div:hover{
        transition: all 1s;
        transform: scale(1.06);
    }
    .container__card-certificate:hover{
        transition: all 1s;
        transform: scale(1.2);
    }
    .container__card-title:hover{
        opacity: 0;
    }
    .box-father:hover{
        transition: all 0s;
        transform: scale(1.1);
    }
}

@keyframes anime{
    0%
    {
        transform:rotate(0deg);
    }
    100%
    {
        transform:rotate(360deg);
    }
}