---
import CardList from "./cardList.astro";

---
<section id="about" class="portfolio__section-about">
    <div class="container__about-data">
        <img src="/images/IMG-20221117-WA0011.jpg" alt="">
        <div>
            <h1>Datos Personales</h1>
            <p><b>🪪 Nombre Completo: </b> Eduardo Esequiel Tolaba</p>
            <p><b>🎂Nacimiento: </b> 19 enero 2001</p>
            <p><b>📧Correo: </b> eduardoetolaba@gmail.com</p>
            <p><b>📱Telefono: </b>+54 1169650202</p>
            <p><b>📍 Cuidad: </b>Buenos Aires-CABA</p>
        </div>
    </div>
    <div class="container__about-text">
        <h4>Sobre Mi</h4>
        <p>
            Soy un desarrollador junior, y estoy en busqueda activa de mi primer trabajo en el mundo IT, actualmente me encuentro realizando el CBC de la carrera de Ingenieria en Informatica y realizando cursos para expandir mi expertis como programador. <br/>
            Realizo proyectos personales de manera freelancers, mientras aprendo nuevos herramientas de desarrollo.    
        </p>
        <h4>Mi Objetivo</h4>
    </div>
    <div class="container__about-cv">
        <button><a download="eduardoCV-IT" href="/eduardoCV-IT.pdf" class="about__cv-link">Descargar CV</a></button>
    </div>
    <section class="section__about-studies">
        <div class="container__about-study">
            <h3 class="title-about-study"> <span>Estudios</span> </h3>
            <div>
                <b>Universidad de Buenos Aires</b>
                <ul>
                    <li><p>CBC-UBA (2019)</p></li>
                    <li><p>Carrera de Medicina UBA (2020 - No finalizado)</p></li>
                    <li><p>Carrera de Ingenieria en Informatica UBA (2023 - Presente)</p></li>
                </ul>
            </div>
            <div>
                <b>PAE del Instituto Superior del Profesorado en Lenguas Vivas</b>
                <p>Certificacion: Idioma Ingles</p>
                <ul>
                    <li><b>Nivel A1: </b><i>Inicio: marzo 2020 - Finalizado: diciembre 2020</i></li>
                    <li><b>Nivel A2: </b><i>Inicio: marzo 2022 - Finalizado: diciembre 2022</i></li>
                    <li><b>Nivel B1: </b><i>Inicio: marzo 2023 - Cursando</i></li>
                </ul>
            </div>
            <div>
                <b>Colegio Secundario N° 5087 Cachi-Salta</b>
                <p>Orientacion en Ciencias Naturales</p>
                <ul>
                    <li><p>Titulo: Bachiller (2014 - 2018)</p></li>
                </ul>
            </div>
        </div>
        <div class="container__about-courses">
            <h3 class="title-about-study"> <span>Cursos</span> </h3>
            <div>
                <b>Programa "Tu Empleo" Fundación Empujar</b>
                <p>Capacitacion para la Insercion Laboral</p>
                <ul>
                    <li><i>Inicio: abril 2022 - Finalizacion: febrero 2023)</i></li>
                </ul>
            </div>
            <div>
                <b>CoderHouse</b>
                <p>Carrera de Desarrollo Web Full Stack</p>
                <ul>
                    <li><i>Inicio: abril 2022 - Finalizado: febrero 2023</i></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section__about-certificates">
        <h3 class="title-about-study"> <span>Certificados</span> </h3>
        <CardList/>
    </section>
</section>