---
import CardList from "./cardList.astro";

---
<section id="about" class="portfolio__section-about">
    <div class="container__about-data">
        <figure class="container__about-profile">
            <img class="image-profile" src="/images/profile2.jpg" alt="foto de perfil del postulante">
        </figure>
        <div>
            <h1>Datos Personales</h1>
            <p><b>游뿱 Nombre Completo: </b> Eduardo Esequiel Tolaba</p>
            <p><b>游꾹Nacimiento: </b> 19 enero 2001</p>
            <p><b>游닎Correo: </b> eduardoetolaba@gmail.com</p>
            <p><b>游님Telefono: </b>+54 1169650202</p>
            <p><b>游늸 Cuidad: </b>Almagro - Buenos Aires, Argentina</p>
        </div>
    </div>
    <div class="container__about-text">
        <h4>SOBRE MI</h4>
        <hr>
        <p>Soy un desarrollador Javascript junior de pila completa, desempe침ando tareas requeridas del frontend como backend, Me caracterizo por ser responsable, autodidacta, de f치cil comunicaci칩n y trato con otras personas, muy divertido, apasionado por la tecnolog칤a y siempre con una mentalidad abierta a nuevos cambios y desaf칤os.  </p>
        <p>Realizo proyectos personales para desarrollar mi expertis como programador, Mientras sigo en constante aprendizaje y aplicando nuevas herramientas, para una mejor experiencia de usuario.</p>
        <h4>OBJETIVO LABORAL</h4>
        <hr>
        <p>Actualmente me encuentro en b칰squeda activa de mi primer empleo en el 치mbito IT, trabajar para una empresa que me permita desempe침ar mis habilidades y conocimientos, aportar ideas nuevas, formar parte de un equipo, dar las mejores soluciones a distintos problemas que sean requeridos, siempre con la predisposici칩n de aprender de la misma.</p>
        <p>Adem치s son mis deseos de crecer profesionalmente, establecerme y consolidarme en una ambiente que me otorgue estabilidad laboral y econ칩mica.</p>
    </div>
    <div class="container__about-cv">
        <button><a download="eduardoCV-IT" href="/Eduardo-CV IT.pdf" class="about__cv-link">Descargar CV</a></button>
    </div>
    <section class="section__about-studies">
        <div class="container__about-study">
            <h3 class="title-about-study"> <span>Estudios</span> </h3>
            <div>
                <b>Universidad de Buenos Aires</b>
                <p>Carrera de Ingenieria en Informatica</p>
                <ul>
                    <li><i>Inicio: marzo 2023 - Cursando</i></li>
                </ul>
            </div>
            <div>
                <b>PAE del Instituto Superior del Profesorado en Lenguas Vivas</b>
                <p>Certificaci칩n: Idioma Ingles</p>
                <ul>
                    <li><b>Nivel B1: </b><i>Inicio marzo 2023 - Cursando</i></li>
                </ul>
            </div>
            <div>
                <b>Colegio Secundario N춿 5087 Cachi-Salta</b>
                <p>Orientaci칩n en Ciencias Naturales</p>
                <ul>
                    <li><p>Titulo: Bachiller (2014 - 2018)</p></li>
                </ul>
            </div>
        </div>
        <div class="container__about-courses">
            <h3 class="title-about-study"> <span>Cursos</span> </h3>
            <div>
                <b>Programa "Tu Empleo" Fundaci칩n Empujar</b>
                <p>Capacitacion para la Inserci칩n Laboral</p>
                <ul>
                    <li><i>Inicio: abril 2022 - Finalizado: febrero 2023</i></li>
                </ul>
            </div>
            <div>
                <b>CoderHouse</b>
                <p>Carrera de Desarrollador Web Full Stack</p>
                <p>Cursos: Desarrollo Web, JavaScript, React Js y Programaci칩n backend</p>
                <ul>
                    <li><i>Inicio: abril 2022 - Finalizado: febrero 2023</i></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section__about-certificates">
        <h3 class="title-about-study"> <span>Certificados</span> </h3>
        <CardList/>
    </section>
</section>