---
import AxiosServices from "../services/axiosServices.js";
import dotenvConfig from "../config/dotenv.config.js";

const {URL_EMAIL} = dotenvConfig.path;

const formServices = new AxiosServices(URL_EMAIL);

---

<section id="contact" class="portfolio__section-contact">
    <h2 class="titleContact">Contacto</h2>
    <form class="container-form" data-services={formServices} >
        <label  class="input-names" for="text">Nombre</label>
        <input type="text" name="nombre" placeholder="Nombre Completo" required>
        <label  class="input-names" for="text">Email</label>
        <input type="email" name="correo" placeholder="ej:perez@gmail.com" required>
        <input type="text" name="asunto" placeholder="Asunto" required>
        <label  class="input-names" for="text">Descripción</label>
        <textarea name="descripcion" cols="30" rows="10" placeholder="Mensaje" required></textarea>
        <input type="submit" value="enviar">
    </form>
</section>

<script>
    class form extends HTMLElement{
        constructor(){
            super()
            const sendAxios = this.dataset.services ;
            const formData = document.querySelector('form');
            formData.addEventListener('submit',async(event)=>{
                event.preventDefault();
                const datos = new FormData(formData);
                let object = {};
                datos.forEach((value,key)=>object[key] = value);
            });
        }
    }
    

</script>