---

---

<nav class="navbar">
    <a href="" class="logo">MI PORTAFOLIO</a>
    <input type="checkbox" id="toggler">
    <label for="toggler"><img src="https://img.icons8.com/ios-glyphs/35/000000/menu--v1.png"/></label>
    <div class="menu">
        <ul class="list">
            <li><a href="/#home">Inicio</a></li>
            <li><a href="/#about">Sobre mi</a></li>
            <li><a href="/#services">Herramientas</a></li>
            <li><a href="/#project">Proyectos</a></li>
            <!-- <li><a href="#contact">contact</a></li> -->
        </ul>
    </div>
</nav>